* {

  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;

}
h1{
  font-weight: 500;
}
.custom-position {
  position: relative;
  top: 50%;
  left: 59%;
}

.container .active{
filter:blur(20px);
pointer-events: none;
}


#modalGrandeImage{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 z-index: 3;
  width: 70vw;
  height: 20vh;
  padding: 30px;
outline: 3px red solid;
margin: auto;
position: fixed;
top: 50%;
left: 10%;
background: whitesmoke;

}
#boutons{
  display: flex;
  flex-direction: column;
  
position: relative;
z-index: 5;
}

#bouton{
  width: 100%;
  height: 2rem;
}

#taille_image{
 
  border: 1px solid black;
  padding: 0.5px;
  height: 100%;
 
  white-space: wrap;       
    
  width: 2rem; 
}
#legende_image{
border: 1px solid black;
}





    













/*fonctionnalités :

faire disparaître les autres images pendant qu'une image grossit (fondu)
possibilité d'ajouter l'image au panier
possibilité de supprimer l'image du panier
Facture
bouton panier en forme d icône en haut 
*/
/*


Au clic, renvoi vers page Panier/Achat etc

Au clic, faire apparaître un texte explicatif de la photo) 
Photo sélectionnée = affichage différent (exemple : plus lumineuse)

possibilité de Drag and drop chaque produit dans le panier

Au hover, faire apparaître le prix (peut être généré aléatoirement compris entre n $ et n+$: entre 150 et 1000

Marquer les photos achetées par un visuel approprié








Afficher changement de couleur sur panier pour marquer l etat du panier 

NAVIGATION : possibilité de revenir dans les autres pages avec une petite ancre/icone (sport/portrait etc)



https://www.youtube.com/watch?v=QghhoJBdw7A
https://www.youtube.com/watch?v=snhpoxtLugU


FORMULAIRE
A REFLECHIR:

A implementer maintenant:

PHOTOS: texte lorem ipsum en bas, a gauche verticalement taille en pixel, a droite coin haut : drapeau avec 3 boutons Acheter Supprimer Liker

possibilité de contacter le photographe via un formulaire pour commander une photo

Effet de flou au clic + apparition du prix + taille  + apparition des boutons Acheter Supprimer et liker (animation)



PANIER:0 articles= color:black; sinon, color: blue

Mettre a jour le projet sur Github



Implementer les points de rupture Bootsrap


IMPLEMENTÉ:

Faire 3 colonnes
Mettre le panier en Bootstrap

*/