 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/Compositions_artistiques/music-3264711_1280.jpg");
    background-size: cover; 
    background-position: center; 
    transition: 0.5s;
    padding: 20px;
}

.container#blur.active{
    filter:blur(20px);
    pointer-events: none;

}

.content{
    position: relative;
 max-width: 800px;   
}

h2{
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.container .content img{
    max-width: 50%;
    display: block;
}
a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #333;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0px 5px 30px rgba(0,0,0, alpha);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 50%;
}